.bg-img-01 {
    background-image: url("http://p-schub.lima-city.de/e-results/img/portfolio-img/DoorDash/doordash-robot.png");
}

.portfolio-bg-img {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.logo-wrapper > img {
    width: 50%;
}