@import url(title.css);
@import url(features.css);
@import url(skill.css);
@import url(contact.css);
@import url(footer.css);

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.brand-text {
    color: #e7e7e7;
    font-weight: 700;
    font-size: 1.5rem;
    border-bottom: #4e8bc4 4px solid;
  }
  
.progress-container {
    width: 100%;
    top: 55px;
    height: 5px;
    background-color: #ccc;
    position: fixed;
    z-index: 1;
}
  
.progressBar {
    height: 5px;
    background: #4E8BC4;
    color: #4E8BC4; 
    min-width: 0%;
    top: 70px;
}

@media all and (min-width: 720px) {

    #revision {
        display: flex;
        align-items: center;
        height: 500px;
    }
    
    .carousel {
        height: 200px;
    }
}